<%- include("./partitials/header.partial.ejs") %>

<body>

    <%- include("./partitials/nav.partial.ejs") %>
    <div class="content">
        <div class="wrapper">
            <div class="content-main">
                <div class="box recent-posts">
                    <div class="box-header">
                        <a href="/blog/filter/recent">
                            <h1 class="box-title">Recent Posts</h1>
                            <i class="bx bx-chevron-right"></i>
                        </a>
                    </div>
                    <div class="box-content">
                        <% let bigTimes = 0 %>
                        <% let smallTimes = 0 %>
                        <% recentPosts.forEach(post => { 
                            if ( bigTimes < 2 ) { %>
                            <div class="box-item">
                                <div class="box-item-content">
                                    <h2 class="box-item-content-title"><%= post.title %></h2>
                                    <p class="box-item-content-sub_title"><%= post.snippet %></p>
                                    <a href="/blog/<%= post._id %>" class="box-item-content-more_button">
                                        <button>
                                            <span>Read More</span>
                                            <i class="bx bx-chevron-right"></i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                            <% bigTimes++; %>
                        <% } else if ( smallTimes < 4 ) { %>
                                <div class="box-item">
                                    <div class="box-item-content">
                                        <h2 class="box-item-content-title"><%= post.title %></h2>
                                        <a href="/blog/<%= post._id %>" class="box-item-content-more_button">
                                            <button>
                                                <span>Read More</span>
                                                <i class="bx bx-chevron-right"></i>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                                <% smallTimes++; %>
                        <% } }); %>
                    </div>
                </div>

                <div class="box popular-posts">
                    <div class="box-header">
                        <a href="/blog/filter/popular">
                            <h1 class="box-title">Popular Posts</h1>
                            <i class="bx bx-chevron-right"></i>
                        </a>
                    </div>
                    <div class="box-content">

                        <% let pop_bigTimes = 0 %>
                        <% let pop_smallTimes = 0 %>
                        <% popularPosts.forEach(post => { 
                            if ( pop_bigTimes < 2 ) { %>
                            <div class="box-item">
                                <div class="box-item-content">
                                    <h2 class="box-item-content-title"><%= post.title %></h2>
                                    <p class="box-item-content-sub_title"><%= post.snippet %></p>
                                    <a href="/blog/<%= post._id %>" class="box-item-content-more_button">
                                        <button>
                                            <span>Read More</span>
                                            <i class="bx bx-chevron-right"></i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                            <% pop_bigTimes++; %>
                        <% } else if ( pop_smallTimes < 4 ) { %>
                                <div class="box-item">
                                    <div class="box-item-content">
                                        <h2 class="box-item-content-title"><%= post.title %></h2>
                                        <a href="/blog/<%= post._id %>" class="box-item-content-more_button">
                                            <button>
                                                <span>Read More</span>
                                                <i class="bx bx-chevron-right"></i>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                                <% pop_smallTimes++; %>
                        <% } }); %>
                    </div>
                </div>

                <div class="box front_end-posts">
                    <div class="box-header">
                        <a href="/blog/filter/front-end">
                            <h1 class="box-title">Front-end Posts</h1>
                            <i class="bx bx-chevron-right"></i>
                        </a>
                    </div>
                    <div class="box-content">

                        <% let fe_bigTimes = 0 %>
                        <% let fe_smallTimes = 0 %>
                        <% frontEndPosts.forEach(post => { 
                            if ( fe_bigTimes < 2 ) { %>
                            <div class="box-item">
                                <div class="box-item-content">
                                    <h2 class="box-item-content-title"><%= post.title %></h2>
                                    <p class="box-item-content-sub_title"><%= post.snippet %></p>
                                    <a href="/blog/<%= post._id %>" class="box-item-content-more_button">
                                        <button>
                                            <span>Read More</span>
                                            <i class="bx bx-chevron-right"></i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                            <% fe_bigTimes++; %>
                        <% } else if ( fe_smallTimes < 4 ) { %>
                                <div class="box-item">
                                    <div class="box-item-content">
                                        <h2 class="box-item-content-title"><%= post.title %></h2>
                                        <a href="/blog/<%= post._id %>" class="box-item-content-more_button">
                                            <button>
                                                <span>Read More</span>
                                                <i class="bx bx-chevron-right"></i>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                                <% fe_smallTimes++; %>
                        <% } }); %>
                    </div>
                </div>

                <div class="box back_end-posts">
                    <div class="box-header">
                        <a href="/blog/filter/back-end">
                            <h1 class="box-title">Back-end Posts</h1>
                            <i class="bx bx-chevron-right"></i>
                        </a>
                    </div>
                    <div class="box-content">

                        <% let be_bigTimes = 0 %>
                        <% let be_smallTimes = 0 %>
                        <% backEndPosts.forEach(post => { 
                            if ( be_bigTimes < 2 ) { %>
                            <div class="box-item">
                                <div class="box-item-content">
                                    <h2 class="box-item-content-title"><%= post.title %></h2>
                                    <p class="box-item-content-sub_title"><%= post.snippet %></p>
                                    <a href="/blog/<%= post._id %>" class="box-item-content-more_button">
                                        <button>
                                            <span>Read More</span>
                                            <i class="bx bx-chevron-right"></i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                            <% be_bigTimes++; %>
                        <% } else if ( be_smallTimes < 4 ) { %>
                                <div class="box-item">
                                    <div class="box-item-content">
                                        <h2 class="box-item-content-title"><%= post.title %></h2>
                                        <a href="/blog/<%= post._id %>" class="box-item-content-more_button">
                                            <button>
                                                <span>Read More</span>
                                                <i class="bx bx-chevron-right"></i>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                                <% be_smallTimes++; %>
                        <% } }); %>
                    </div>
                </div>

                <div class="box web_design-posts">
                    <div class="box-header">
                        <a href="/blog/filter/web-design">
                            <h1 class="box-title">Web Design Posts</h1>
                            <i class="bx bx-chevron-right"></i>
                        </a>
                    </div>
                    <div class="box-content">

                        <% let wd_bigTimes = 0 %>
                        <% let wd_smallTimes = 0 %>
                        <% webDesignPosts.forEach(post => { 
                            if ( wd_bigTimes < 2 ) { %>
                            <div class="box-item">
                                <div class="box-item-content">
                                    <h2 class="box-item-content-title"><%= post.title %></h2>
                                    <p class="box-item-content-sub_title"><%= post.snippet %></p>
                                    <a href="/blog/<%= post._id %>" class="box-item-content-more_button">
                                        <button>
                                            <span>Read More</span>
                                            <i class="bx bx-chevron-right"></i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                            <% wd_bigTimes++; %>
                        <% } else if ( wd_smallTimes < 4 ) { %>
                                <div class="box-item">
                                    <div class="box-item-content">
                                        <h2 class="box-item-content-title"><%= post.title %></h2>
                                        <a href="/blog/<%= post._id %>" class="box-item-content-more_button">
                                            <button>
                                                <span>Read More</span>
                                                <i class="bx bx-chevron-right"></i>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                                <% wd_smallTimes++; %>
                        <% } }); %>
                    </div>
                </div>

                <div class="box web_content-posts">
                    <div class="box-header">
                        <a href="/blog/filter/web-content">
                            <h1 class="box-title">Web Content Posts</h1>
                            <i class="bx bx-chevron-right"></i>
                        </a>
                    </div>
                    <div class="box-content">

                        <% let wc_bigTimes = 0 %>
                        <% let wc_smallTimes = 0 %>
                        <% webContentPosts.forEach(post => { 
                            if ( wc_bigTimes < 2 ) { %>
                            <div class="box-item">
                                <div class="box-item-content">
                                    <h2 class="box-item-content-title"><%= post.title %></h2>
                                    <p class="box-item-content-sub_title"><%= post.snippet %></p>
                                    <a href="/blog/<%= post._id %>" class="box-item-content-more_button">
                                        <button>
                                            <span>Read More</span>
                                            <i class="bx bx-chevron-right"></i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                            <% wc_bigTimes++; %>
                        <% } else if ( wc_smallTimes < 4 ) { %>
                                <div class="box-item">
                                    <div class="box-item-content">
                                        <h2 class="box-item-content-title"><%= post.title %></h2>
                                        <a href="/blog/<%= post._id %>" class="box-item-content-more_button">
                                            <button>
                                                <span>Read More</span>
                                                <i class="bx bx-chevron-right"></i>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                                <% wc_smallTimes++; %>
                        <% } }); %>
                    </div>
                </div>
            </div>
        </div>

        <div class="wrapper">
            <div class="side-panel">
                <div class="box subscribe">
                    <div class="box-header">
                        <h1 class="box-header-title">Subscribe to our newsletter!</h1>
                        <span class="box-header-sub_title">Subscribe to our newsletter and recieve weekly updates on new blog posts!</span>
                    </div>
                    <div class="box-content">
                        <form action="/subscribe" method="post" class="box-content-form">
                            <input type="email" name="email" id="email" class="box-content-form-input" placeholder="Your email" required>
                            <input type="submit" value="Subscribe" class="box-content-form-submit">
                        </form>
                    </div>
                </div>
                <div class="box potd">
                    <div class="box-header">
                        <h1 class="box-header-title">Post of the day!</h1>
                        <span class="box-header-sub_title">Today's randomly picked post for you to read!</span>
                    </div>
                    <div class="box-content">
                        <img src="<%= potd[0].headerImageUrl %>" alt="Post Header Image" class="post-image">
                        <h1 class="post-title"><%= potd[0].title %></h1>
                        <p class="post-preview_text"><%= potd[0].body.split(" ", 50).join(" "); %>...</p>
                        <a href="/blog/random-post" class="box-item-content-more_button">
                            <button>
                                <span>Read More</span>
                                <i class="bx bx-chevron-right"></i>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="box ad-box">
                    <div class="ad">
                        <div class="ad-content">
                            <h1 class="ad-title">This is an advertisment.</h1>
                            <p class="ad-text">Lorem ispum dolor sit amet consectur adipiscing elit. <a href="#">Visit Site ></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include("./partitials/footer.partial.ejs") %>

</body>
